html {
  font-family: proxima nova, sans-serif;
}

body {
  width: 100%;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1 {
  font-family: didot, serif;
  font-size: 70px;
  color: $primary-color;
}

h2 {
  font-family: didot, serif;
  font-size: 70px;
  color: $primary-color;
}

p {
  font-size: 20px;
  color: $primary-color;
}

a {
  font-size: 16px;
  color: $primary-color;
}

.btn {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 200px;
  height: 60px;
  justify-content: center;
  border-radius: 3px;
  color: $main-color;
  font-size: 20px;
  @include box-shadow;

  &:hover {
    opacity: 1;
  }
}
